@import '../../styles/vars';

.connection-status {
  padding: $minPadding;
  color: $infoCardColor;
  border-radius: $mainBorderRadius;

  &_connected {
    background: $validMessageTextColor;
  }

  &_disconnected {
    background: $errorMessageTextColor;
  }

}
