@import '../../styles/vars';
@import '../../styles/adaptiveness';

.custom-button {
  height: $elementHeight;
  background: $buttonBackgroundColor;
  border-radius: $mainBorderRadius;
  font-size: $mainSize;
  padding: $minPadding $mediumPadding;
  color: $infoCardColor;

  @include respond-to(mobile) {
   width: 100%;
  }

  &:hover {
    background: $buttonHoverBackgroundColor;
  }

  &:active {
    background: $buttonActiveBackgroundColor
  }

}
